<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List Authors</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body style="background-color: #CFF3EC">
	<div class="container text-center">
		<div>
			<br> <br>
			<h1>Author List</h1>
		</div>
		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody style="background-color: #CCCCFF">
					<th:block th:each="author : ${listAuthors}">
						<tr>
							<td th:text="${author.authorId}"></td>
							<td th:text="${author.authorName}"></td>
							<td th:text="${author.authorDescription}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>